# Set default behavior, in case people don't have core.autocrlf set.
* text=auto eol=lf

# Explicitly set common text file types to LF
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
