langchain
langchain-community
langchain-ollama
langchain-huggingface
langchain-chroma
langchain-text-splitters
langchain-openai
langchain-aws
langsmith
boto3
chromadb
sentence-transformers
fastapi
uvicorn
python-dotenv
gitpython